* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #408E91;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #fffffd;
    color: #FFF2CC;
}

.header h1 {
    background-color: transparent;
    color: #408E91;
}

.header ul {
    display: flex;
    justify-content: space-between;
    background-color: #fffffd;
    width: 100%;
    min-width: 250px;
    list-style: none;
    color: #fffffd;
}

.header li {
    background-color: #fffffd;
}

.header a {
    text-decoration: none;
    color: #408E91;
    background-color: #fffffd;
}


#welcome-page {
    display: flex;
    width: 100%;
    height: 700px;
}

.welcome-verbiage {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffffd;
    color: #DFA67B;
}

.welcome-verbiage h1 {
    font-size: 36px;
    text-align: center;
    margin: 0;
    color: #408E91;
    background-color: transparent;
}

.welcome-verbiage h3 {
    background-color: transparent;
    color: #408E91;
}

.round-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    background-color: #CCD5AE;
    border: none;

  }

  .round-button a {
    text-decoration: none;
    color: #fffffd;
    background-color: transparent;
  }
  

.welcome-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffffd;
}

.welcome-image img {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 50%;
    border: 17px solid #CCD5AE;
}


#about-section {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 100px;
}

.about {
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #fff;
}

.about h2 {
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.about-paragraph {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.about-paragraph p {
    font-size: 14px;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding-left: 20px;
    background-color: transparent;
    color: #D8D8D8;
}

#work-section {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.work {
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
}

.work h2 {
  color: #fff;
  text-align: center;
}

.work-projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0px;
}

.work-project1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background-image: url(images/bw_swirl.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.work-project2,
.work-project3,
.work-project4,
.work-project5 {
  display: flex;
  width: calc(50% - 5px);
  justify-content: center;
  align-items: center;
  height: 250px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.work-project2 {
  margin-right: 10px;
  background-image: url(images/bwlines.jpg);
}

.work-project3 {
  width: calc(50% - 5px);
  background-image: url(images/triangles.jpg);
  margin-bottom: 10px;
}

.work-project4 {
  width: calc(50% - 5px);
  background-color: #FFF2CC;
  margin-right: 10px;
  margin-bottom: 10px;
  background-image: url(images/webcolors.jpg);
}

.work-project5 {
  width: calc(50% - 5px);
  background-color: aquamarine;
  margin-bottom: 10px;
  background-image: url(images/coloredthreads.jpg);
}

.work-project1 h4,
.work-project2 h4,
.work-project3 h4,
.work-project4 h4,
.work-project5 h4 {
  font-size: 20px;
  text-align: center;
  margin: 0;
  color: #fffffd;
  background-color: transparent;
}

#contact-section {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 100px;
}

.contact {
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #fff;
}

.contact h2 {
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.contact-nav {
  display: flex;
}

.contact-nav ul {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
  min-width: 250px;
  list-style: none;
}

.contact-nav li {
  background-color: transparent;
  color: #fffffd;
}

.contact-nav a {
  color: #fffffd;
}








.footer {
  width: 100%;
  height: auto;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

.footer h4 {
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #welcome-section {
    flex-direction: column;
    height: auto;
  }
  .welcome-image {
    order: 1;
  }
  .welcome-verbiage {
    order: 2;
    margin-top: 20px;
  }

  #work-section {
    flex-direction: column;
  }
  .work-project1,
  .work-project2,
  .work-project3,
  .work-project4,
  .work-project5 {
    width: 100%;
  }

}
  